.container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  flex: 1;
  text-align: center;
  width: 507.12px; 
  height: 342px;
}

.text-container {
  flex: 1;
  text-align: left;
  margin-bottom: 70px;
}

.heading {
  text-align: center;
  margin-top: 90px;
  font-size: 32px;
}

.button-Get {
  border: none;
  padding: 7px 40px;
  cursor: pointer;
  background-color: #0078FF;
  font-size: 16px;
  border-radius: 25px;
  color: white;
}

.subheading {
  font-size: 32px;
}

.paragraph {
  font-size: 24px;
}


@media (max-width: 768px) {
  .container3 {
    flex-direction: column;
    align-items: center;
  }

  .image-container,
  .text-container {
    flex: 0 0 100%; 
    width: 100%; 
  }

  
  .heading {
    text-align: center; 
    margin-top: 50px; 
    font-size: 28px; 
  }
  .subheading {
    font-size: 28px;
  }
  .paragraph {
    font-size: 20px;
  }
}